@font-face {
  font-family: "korean_bold";
  font-weight: normal;
  src: url("./fonts/korean_bold.ttf") format("truetype");
}

@font-face {
  font-family: "korean_Light";
  font-weight: normal;
  src: url("./fonts/korean_Light.ttf") format("truetype");
}

@font-face {
  font-family: "DNFBitBitv2";
  font-weight: normal;
  src: url("./fonts/DNFBitBitv2.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: "korean_bold";
}
